.menuContainer {
    padding: 20px;
}

.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    text-align: center;
}

.menuItemsContainer {
    display: flex;
    flex-direction: column;
}
