$headers: 'Expletus Sans', cursive;

.menuContainer {
    background: #363E40;
    color: #F2F2F2;
    height: 100vh;
    padding: 20px;
}

.title {
    font-family: $headers;
    font-size: 80px;
    text-align: center;
}

.menuItemsContainer {
    display: flex;
    flex-direction: column;
}
